/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


admin/.phpunit.cache
admin/node_modules
admin/public/build
admin/public/hot
admin/public/storage
admin/storage/*.key
admin/vendor
admin/.env
admin/.env.backup
admin/.env.production
admin/.phpunit.result.cache
admin/Homestead.json
admin/Homestead.yaml
admin/auth.json
admin/npm-debug.log
admin/yarn-error.log
admin/.fleet
admin/.idea
admin/.vscode

XraNuSvuwWpWNQu/XyqdICp85ORwOdEUeYKwrywEUSQ steven.ochanda@strathmore.edu
C:\Users\kkipn\.ssh\id_ed25519